option_settings:
  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: ProxyServer
    value: nginx
  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: GzipCompression
    value: true
  - namespace: aws:elasticbeanstalk:container:nodejs:staticfiles
    option_name: /docs/source
    value: /server/docs/source/
  - namespace: aws:elasticbeanstalk:container:nodejs:staticfiles
    option_name: /docs/swagger/
    value: /server/docs/swagger/