.mr-layout {
    width: 100%;
    height: 100%;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    font-family: 'Open Sans', serif;
    font-weight: 400;
}

.mr-layout .mr-mask {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
}

.mr-layout .mr-row {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    width: auto;
    height: auto;
}

.mr-layout .mr-cell {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    height: auto;
}
